source_up
export DEBUG=1
export OKTA_DOMAIN='{}'
export OKTA_CLIENT_ID='{}'
export NEXTAUTH_URL='http://localhost:3000'
export NEXTAUTH_SECRET='{openssl rand -base64 32}'
export FASTAPI_URL='http://localhost:8000'
export ALLOWED_ORIGINS='["http://localhost:3000"]'
