## backend
export DEBUG=true
export FASTAPI_URL=http://localhost:8000
export ALLOWED_ORIGINS='["http://localhost:3000"]'

## frontend
export NEXTAUTH_URL=http://localhost:3000
export NEXTAUTH_SECRET='{openssl rand -base64 32}'

## shared
export ENVIRONMENT=dev
export OKTA_DOMAIN=REDACTED
export OKTA_CLIENT_ID=REDACTED
